<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemontree0802.mapper.DishMapper">
    <resultMap id="dishMap" type="com.lemontree0802.pojo.Dish">
        <id column="id" property="id" />
        <result column="merchant_id" property="merchantId" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="category" property="category" />
        <result column="description" property="description" />
        <result column="image_url" property="imageUrl" />
        <result column="nutrition_info" property="nutritionInfo" />
    </resultMap>


    <select id="selectBelongsToMerchant" resultMap="dishMap" >
        select *
        from dishes
        where merchant_id = #{merchantId};
    </select>

    <select id="selectById" resultMap="dishMap" >
        select *
        from dishes
        where id = #{id};
    </select>
</mapper>
