<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemontree0802.mapper.FavoriteMapper">
    <resultMap id="favoriteMap" type="com.lemontree0802.pojo.Favorite">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="merchant_id" property="merchantId" />
        <result column="dish_id" property="dishId" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <insert id="userFavoriteDish">
        INSERT INTO favorites (user_id, dish_id)
        VALUES (#{uerId}, #{dishId});
    </insert>

    <insert id="userFavoriteMerchant">
        INSERT INTO favorites (user_id, merchant_id)
        VALUES (#{uerId}, #{merchantId});
    </insert>

    <delete id="userDeleteFavoriteDish">
        DELETE FROM favorites
        WHERE user_id = #{userId} AND dish_id = #{dishId};
    </delete>

    <delete id="userDeleteFavoriteMerchant">
        DELETE FROM favorites
        WHERE user_id = #{userId} AND merchant_id = #{merchantId};
    </delete>

</mapper>
