<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemontree0802.mapper.MerchantMapper">
    <resultMap id="merchantMap" type="com.lemontree0802.pojo.Merchant">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
    </resultMap>
    <select id="selectAll" resultType="com.lemontree0802.pojo.Merchant">
        SELECT *
        FROM merchants;
    </select>
    <select id="selectByName" resultType="com.lemontree0802.pojo.Merchant">
        SELECT *
        FROM merchants where name = #{name};
    </select>
</mapper>
