<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemontree0802.mapper.OrderDetailMapper">
    <resultMap id="orderDetailMap" type="com.lemontree0802.pojo.OrderDetail">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="dish_id" property="dishId" />
        <result column="quantity" property="quantity" />
        <result column="price" property="price" />
    </resultMap>

    <insert id="insertUserOrderDetail">
        insert into order_details (order_id, dish_id, quantity, price)
        values (#{orderId}, #{dishId}, #{quantity}, #{price})
    </insert>
</mapper>
