<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemontree0802.mapper.OrderMapper">
    <resultMap id="orderMap" type="com.lemontree0802.pojo.Order">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="merchant_id" property="merchantId" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <insert id="userOrder">
        insert into orders (user_id, merchant_id, status)
        values (#{userId}, #{merchantId}, #{status});
    </insert>

    <select id="selectTheLatestOrder" resultMap="orderMap">
        SELECT *
        FROM orders
        ORDER BY id DESC LIMIT 1;
    </select>

    <select id="selectByUserId" resultMap="orderMap">
        select *
        from orders where user_id = #{userId};
    </select>

</mapper>
