<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemontree0802.mapper.ReviewMapper">
    <resultMap id="reviewMap" type="com.lemontree0802.pojo.Review">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="merchant_id" property="merchantId" />
        <result column="dish_id" property="dishId" />
        <result column="rating" property="rating" />
        <result column="review_text" property="reviewText" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <insert id="userReviewDish">
        INSERT INTO reviews (user_id, dish_id, rating, review_text)
        VALUES (#{userId}, #{dishId}, #{rating}, #{reviewText})
    </insert>

    <insert id="userReviewMerchant">
        INSERT INTO reviews (user_id, merchant_id, rating, review_text)
        VALUES (#{userId}, #{merchantId}, #{rating}, #{reviewText})
    </insert>
</mapper>
